{% block contents %}
	<section class="input-content">
		<h2>Change Password</h2>
		<div class="input-content-wrap">
			<dl class="box">
				<dt class="box-title">Current Password</dt>
				<dd class="box-content">
					<input id="current_pass" type="password" required name="pass">
					<label>Current Password</label>
					<span class="underline"></span>
				</dd>
			</dl>
			<dl class="box">
				<dt class="box-title">New Password</dt>
				<dd class="box-content">
					<input id="new_pass" type="password" required name="new_pass">
					<label>New Password</label>
					<span class="underline"></span>
				</dd>
			</dl>
			<dl class="box">
				<dt class="box-title">Confirm Password</dt>
				<dd class="box-content">
					<input id="confirm_pass" type="password" required name="confirm_pass">
					<label>Confirm Password</label>
					<span class="underline"></span>
				</dd>
			</dl>
			<p class="error" id="error"></p>
			<div class="btns">
				<button class="btn btn-confirm" id="changepass">Change Password</button>
			</div>
		</div>
	</section>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let errorField = document.getElementById("error");
			let timeoutId;

			function errorFunc(message) {
				if (timeoutId) {
					clearTimeout(timeoutId);
				}
				errorField.innerHTML = message;
				timeoutId = setTimeout(() => {
					errorField.innerHTML = "";
					timeoutId = null;
				}, 8000);
			}

			let current_pass = document.getElementById('current_pass');
			let new_pass = document.getElementById('new_pass');
			let confirm_pass = document.getElementById('confirm_pass');
			let username = document.getElementById('username');

			document.querySelector('#changepass').addEventListener('click', function () {
				this.disabled = true;
				setTimeout(() => this.disabled = false, 8000);
				if (new_pass.value == "" || confirm_pass.value == "" || current_pass.value == "") {
					errorFunc("Please fill all fields");
					return;
				}
				if (new_pass.value !== confirm_pass.value) {
					errorFunc('Password does not match');
					return;
				}
				fetch('/account/changePassword', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						confirm_pass: confirm_pass.value,
						current_pass: current_pass.value,
						new_pass: new_pass.value,
						username: username.value,
					})
				})
					.then(response => response.json())
					.then(data => {
						if (data) {
							window.location.reload();
						} else {
							errorFunc(("Either you provided a invalid password or you tried to set the password same as it was before. Please try again."))
						}
					})
					.catch(error => {
						errorFunc("Password change failed");
						console.error(error);
					})
			});
		})

	</script>
{% endblock %}
