{% block contents %}
	{% if verified %}
		<section class="input-content" style="text-align: left">
			<h2>Change Email Address</h2>
			<p class="box-content">
				You have successfully verified your email address. If you want to change your email address, please
				enter your new email to start the process. You will be requested for an OTP to verify your new email.
			</p>
			<p class="box-content">
				Your email is: <b>{{ email }}</b>
			</p>
			<input type="email" class="email" name="email" placeholder="Email" id="email"
				   value="{{ email }}">
			<p>
				<button class="btn btn-blue" id="emailChange">Change Email</button>
			</p>
		</section>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				let errorField = document.getElementById("error");
				let timeoutId;

				function errorFunc(message) {
					if (timeoutId) {
						clearTimeout(timeoutId);
					}
					errorField.innerHTML = message;
					timeoutId = setTimeout(() => {
						errorField.innerHTML = "";
						timeoutId = null;
					}, 5000);
				}

				document.getElementById("emailChange").addEventListener("click", function () {
					this.disabled = true;
					let username = document.getElementById("username").value;
					let email = document.getElementById("email").value;

					setTimeout(() => this.disabled = false, 8000);

					if (email === "{{ email }}") {
						return;
					}

					fetch("/account/changeEmail", {
						method: "POST",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							email: email,
							username: username
						})
					}).then(response => response.json())
						.then(data => {
							if (data) {
								window.location.reload()
							} else {
								errorFunc("An error occurred. Please try again later.")
							}
						})
				});
			})
		</script>
	{% else %}

		<section class="input-content" style="text-align: left">
			<h2>Verify your email address</h2>
			<p class="box-content">
				Check your email, you might have recieved OTP. If you haven't received the OTP, you can request for a
				new one. On sign-up or requesting to change email, your OTP is automatically sent to you.
			</p>
			<p class="box-content">
				Your email is: <b>{{ email }}</b>
			</p>
			<input type="email" class="email" name="email" placeholder="Email" id="email"
				   value="{{ email }}">
			<br><br>
			<input type="number" class="otp" name="otp" placeholder="6 Digit OTP" id="otp" min="100000" max="999999">
			<p class="error" id="error"></p>
			<p>
				<button class="btn btn-green" id="verify">Verify OTP</button>
				<button class="btn btn-blue" id="emailChange">Change Email</button>
				<button class="btn btn-yellow" id="resendButton">Resend OTP</button>
			</p>
		</section>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				let errorField = document.getElementById("error");
				let timeoutId;

				function errorFunc(message) {
					if (timeoutId) {
						clearTimeout(timeoutId);
					}
					errorField.innerHTML = message;
					timeoutId = setTimeout(() => {
						errorField.innerHTML = "";
						timeoutId = null;
					}, 5000);
				}

				document.getElementById("emailChange").addEventListener("click", function () {
					this.disabled = true;
					let username = document.getElementById("username").value;
					let email = document.getElementById("email").value;
					setTimeout(() => this.disabled = false, 8000);

					fetch("/account/changeEmail", {
						method: "POST",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							email: email,
							username: username
						})
					}).then(response => response.json())
						.then(data => {
							if (data) {
								window.location.reload()
							} else {
								errorFunc("An error occurred. Please try again later.")
							}
						})
				});

				document.getElementById("resendButton").addEventListener("click", function () {
					this.disabled = true;
					let username = document.getElementById("username").value;
					setTimeout(() => this.disabled = false, 8000);
					fetch("/account/resendOTP", {
						method: "POST",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							username: username
						})
					}).then(response => response.json())
						.then(data => {
							if (data) {
								errorFunc("OTP has been resent to your email address.")
							} else {
								errorFunc("An error occurred. Please try again later.")
							}
						})
				});

				document.getElementById("verify").addEventListener("click", function () {
					let otp = document.getElementById("otp").value;
					let username = document.getElementById("username").value;

					this.disabled = true;
					setTimeout(() => this.disabled = false, 3000);

					if (otp.length != 6) {
						errorFunc("OTP must be 6 digits");
						return;
					}

					fetch("/account/verifyOtp", {
						method: "POST",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							otp: otp,
							username: username
						})
					}).then(response => response.json())
						.then(data => {
							if (data) {
								window.location.reload()
							} else {
								errorFunc("Wrong OTP entered. Please try again.")
							}
						})
						.catch(error => errorFunc(`An error occurred. Please try again later. Error: ${error}`))
				})
			});
		</script>
	{% endif %}
{% endblock %}
