{% block contents %}
	{% if not username.strip() == '' %}
	<form action="{{ url_for('short') }}" method="post">
		<div id="shortForm">
			<input type="text" name="url" placeholder="Enter the link here">
			<div id="submitBtn">
				<input type="submit" value="Cut!">
			</div>
		</div>
		<p>
		<details>
			<summary>Advanced Options:</summary>
			<div class="left-column">
				<label for="captcha">Enable Captcha Security? </label>
				<input type="checkbox" id="captcha" name="captcha">
				<br>
				<label for="customSlug">Custom Slug? </label>
				<input type="checkbox" id="customSlug" name="customSlug" onchange="toggleCustomSlug()">
				<input type="text" id="slugInput" name="slugInput" value="XXXXXX" readonly minlength="6" maxlength="6"
					   required oninput="enforceSlugInputRestrictions()">
			</div>
			<div class="right-column">
				<label for="public">Public? </label>
				<input type="checkbox" id="public" checked name="public">
				<br>
				<label for="expiryClicks">Auto-delete after (clicks): </label>
				<select name="expiryClicks" id="expiryClicks">
				</select>
				<br>
				<label for="expiryDate">Auto-delete after (days): </label>
				<select name="expiryDate" id="expiryDate">
				</select>
			</div>
			<br>
		</details>
		</p>
	</form>
	<script>
		let expiryDateSelectBox = document.getElementById("expiryDate");
		let days = [1, 2, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180];
		for (let i = 0; i < days.length; i++) {
			let option = document.createElement("option");
			option.text = days[i];
			option.value = days[i];
			expiryDateSelectBox.add(option);
		}
		expiryDateSelectBox.innerHTML += '<option value="0" selected>Never</option>';

		let expiryClicksSelectBox = document.getElementById("expiryClicks");
		expires = [1, 2, 5, 10, 25, 50, 100, 250, 500, 1000, 2000, 5000];
		for (let i = 0; i <= 10; i++) {
			let option = document.createElement("option");
			option.text = expires[i];
			option.value = expires[i];
			expiryClicksSelectBox.add(option);
		}
		let option = document.createElement("option");
		option.text = "Never";
		option.value = "0";
		option.selected = true;
		expiryClicksSelectBox.add(option);

		function toggleCustomSlug() {
			let checkbox = document.getElementById('customSlug');
			let input = document.getElementById('slugInput');
			if (checkbox.checked) {
				input.readOnly = false;
			} else {
				input.value = 'XXXXXX';
				input.readOnly = true;
			}
		}

		function enforceSlugInputRestrictions() {
			let input = document.getElementById('slugInput');
			input.value = input.value.toUpperCase();
			input.value = input.value.replace(/ /g, '-');
			input.value = input.value.replace(/[^A-Z0-9-_]/g, '');
		}
	</script>
	{% else %}
		<div id="shortForm" class="centered">
		<p class="centered">Hey there, buddy! Come, login or signup to have a experience of the ultimate, free custom URL Shortener! It's free, just give it 1 minute, because why not?</p>
			<p class="centered">You need to register on the site before you can short a link.</p>
		</div>
	{% endif %}
{% endblock %}
