{% block contents %}
	<form action="{{ url_for('short') }}" method="post">
		<div id="shortForm">
			<input type="text" name="url" placeholder="Enter the link here">
			<div id="submitBtn">
				<input type="submit" value="Cut!">
			</div>
		</div>
		<p>
		<details>
			<summary>Advanced Options:</summary>
			<label for="captcha">Enable Captcha Security? </label>
			<input type="checkbox" id="captcha" name="captcha">
			<br>
			<label for="customSlug">Custom Slug? </label>
			<input type="checkbox" id="customSlug" name="customSlug" onchange="toggleCustomSlug()">
			<input type="text" id="slugInput" name="slugInput" value="XXXXXX" readonly minlength="6" maxlength="6"
				   required oninput="enforceSlugInputRestrictions()">
		<br>
		<label for="public">Public? </label>
		<input type="checkbox" id="public"  checked name="public">
			<p>All X in slugs are randomized server-side. Taken slugs will be rejected and a complete random will
				generate.</p>
		</details>
		</p>
	</form>
	<script>		function toggleCustomSlug() {
			let checkbox = document.getElementById('customSlug');
			let input = document.getElementById('slugInput');
			if (checkbox.checked) {
				input.readOnly = false;
			} else {
				input.value = 'XXXXXX';
				input.readOnly = true;
			}
		}

		function enforceSlugInputRestrictions() {
			let input = document.getElementById('slugInput');
			input.value = input.value.toUpperCase();
			input.value = input.value.replace(/ /g, '-');
			input.value = input.value.replace(/[^A-Z0-9-_]/g, '');
		}
	</script>
{% endblock %}
