{% block contents %}
	{% if (not verified) and username %}
		<style>
			.top-banner {
				margin-bottom: 30px;
				backdrop-filter: blur(4px) saturate(177%);
				background-color: rgba(255, 249, 249, 0.76);
				box-shadow: 0 1px 4px #ccc;
				overflow: hidden;
				text-align: center;
				z-index: 99;
			}
			.alert-link, .alert-link:hover{
				text-decoration: none;
				color: #2d2d2d;
			}
			.badge.bg-primary{
				margin-left:3px;
			}
		</style>
		<div class="top-banner alert alert-warning">
			<a href="/account" class="alert-link">You are not currently verified. <span class="badge bg-primary">Verify now</span></a>
		</div>
		<script>
			let banner = document.querySelector('div.top-banner');
			let top_banner = banner.offsetTop;

			function stickybanner() {
				if (window.scrollY >= top_banner) {
					banner.classList.add('sticky');
				} else {
					banner.classList.remove('sticky');
				}
			}

			window.addEventListener('scroll', stickybanner);
		</script>
	{% endif %}
{% endblock %}
