{% block content %}
	<section id="short" class="main log">
		{% if username.strip() == '' %}
			<h2>Welcome, Guest!</h2>
			<p>You are a guest. Please log in or sign up to gain a lot of perks! <a href="/login">Signup or Login
				here</a></p>
		{% else %}
			<h2>Welcome, {{ username }}!</h2>
			<p>Hello, {{ username }}! You are logged in. Visit your account settings by going <a href="/account">here</a>.</p>
			<p><a class="logoutBtn" href="/logout">Logout?</a>
			<a href="/account" class="comingbtn">Account Settings</a></p>
		{% endif %}
	</section>
{% endblock %}
