hr {
	border: 1px dashed orange;
}

.input::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background: #0f1041;
}

.input-header {
	position: relative;
	padding-top: 80px;
	color: #fff;
}

.input-header h1 {
	padding-bottom: 25px;
	font-size: 3.25em;
	font-weight: 100;
}

.input-content {
	position: relative;
	padding: 44px 55px;
	border-radius: 9px;
	background: rgba(255, 255, 255, 0.68);
	z-index: 10;
}

.input-content.nobg {
	background: transparent;
}

.input-content h2 {
	padding-bottom: 45px;
	font-size: 1.625em;
	font-weight: bold;
	vertical-align: middle;
}

.input-content .box {
	overflow: hidden;
	position: relative;
	padding: 15px 0 28px 200px;
}

.input-content .box-title {
	position: absolute;
	top: 15px;
	left: 0;
	width: 200px;
	height: 30px;
	color: #666;
	font-weight: bold;
	line-height: 30px;
}

.input-content .box-content {
	position: relative;
	width: 100%;
}

.input-content .box-content input {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 14px;
	border: 0;
	background: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
}

.input-content .box-content input:focus ~ label, .input-content .box-content input:valid ~ label {
	color: #2962ff;
	transform: translateY(-20px);
	font-size: 0.825em;
	cursor: default;
}

.input-content .box-content input:focus ~ .underline {
	width: 100%;
}

.input-content .box-content label {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	color: #ccc;
	cursor: text;
	transition: all 200ms ease-out;
	z-index: 10;
}

.input-content .inputbox-content .underline {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 2px;
	background: #2962ff;
	transition: all 200ms ease-out;
}

 .btn {
	display: inline-block;
	margin-right: 2px;
	padding: 10px 25px;
	background: none;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	font-size: 1.125em;
	outline: none;
	transition: all 100ms ease-out;
	 color: #fff;
	cursor: pointer;
}

.btn:hover {
	transform: translateY(-3px);
}

.btn:active {
	transform: translateX(0px);
}

.btn-confirm {
	border: 1px solid rgba(255, 41, 41, 0.78);
	background: #ff2929;
}
.btn-green{
	border:1px solid #00c000;
	background: #00d000;
}
.btn-blue{
	border:1px solid #006ac0;
	background: #0053d0;
}
.btn-yellow{
	border:1px solid #e2ff00;
	background: #a6bd00;
}
.btn:disabled{
	opacity: 0.3;
}

input.email , input.otp{

	box-sizing: border-box;
	font-family: inherit;
	font-size: 14px;
	vertical-align: baseline;
	font-weight: 400;
	line-height: 1.29;
	letter-spacing: .16px;
	border-radius: 0;
	outline: 2px solid transparent;
	outline-offset: -2px;
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: 1px solid #8d8d8d;
	background-color: #f4f4f4;
	padding: 0 16px;
	color: #161616;
	transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}

input.email:focus , input.otp:focus{
	outline: 2px solid #0f62fe;
	outline-offset: -2px;
}

input.email:focus	 , input.otp:focus{
	color: #0f62fe;
}

p.error {
	color: rgb(150, 9, 9);
}
