<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>CutYourURL.tech - Free URL Shortener Service</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='gen.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
{% include 'widgets/status.jinja' %}
<main>
	{% include "widgets/user.jinja" %}
{% if username.strip() == '' %}
	<section id="short" class="main error">
		<h1>Not right now!</h1>
		<p>Appears like you tried to short a URL, but without logging in. Here's what you can do:</p>
		<ul>
			<li class="yes">Login or Signup</li>
			<li class="yes">Have a account</li>
		</ul>
		<p>
			<a href="/" class="comingBtn">Return to Home</a>
			<a href="/login" class="comingBtn">Login/Signup</a></p>
	</section>
	{% else %}
	<section id="short" class="main error" style="display:none;">
		<h1>An error occurred creating the short URL</h1>
		<p>The URL has not been shortened, possible errors:</p>
		<ul>
			<li class="list">Check if the domain is correct</li>
			<li class="list">The URL does not start with https:// or http://</li>
			<li class="list">The URL is not valid</li>
			<li class="list">The URL may have been blocked</li>
			<li class="list">The URL may have been reported</li>
			<li class="list">You tried to directly come here from a GET without data</li>
			<li class="list">Check if the there is a typo</li>
		</ul>
		<br>
		<p><a href="/" class="comingbtn">Go back and try again</a></p>
	</section>
	<section id="short" class="main done">
		<h1>Your shortened URL</h1>
		<p>
			Copy your short link and share it in messages, texts, posts, websites and other locations.
		</p>
		<div id="shortForm" class="copyURL">
			<input type="text" value="{{ full }}" id="url" readonly="readonly" class="form-control"/>
			<div id="submitBtn">
				<input type="button" class="comingbtn copy" value="Copy URL" id="copyBtn"/>
			</div>
		</div>
		<div id="shortForm" class="block qrCon">
			<div class="container">
				<div class="content">
					<p class="qr">Your Short QR: </p>
					<p class="qr">
						Long URL:
						<a href="{{ url }}"
						   target="_blank">{{ cropped }}</a><br>
						Total of clicks of your short URL: {{ views }}<br>
					<p class="qr"><a href="/" class="comingbtn">Short another URL!</a></p>
					</p>
				</div>
				<div class="image-container">
					<img id="qr" alt="Auto-generated Short QR Code of your URL" class="alignRight" src="{{ qrURI }}">
				</div>
			</div>

		</div>
	</section>
{% endif %}
	<section id="content">
		<h2>Why did I recieved "Invalid URL" error?</h2>
		<p>
			If you actually recieved, you would see the reasons listed. Read them up!
		</p>
		<p>
			We use a python library called <a href="https://pypi.org/project/validators/" target="_blank">validators</a>
			that allows us to easily verify if your URL is valid or not. Here are the URLs that will be allowed:
		<ul>
			<li class="yes">https://google.com</li>
			<li class="yes">https://google.com/</li>
			<li class="yes">https://www.google.com/</li>
			<li class="yes">https://google.com/search</li>
			<li class="yes">https://google.com/search?q=searchhere</li>
			<li class="yes">https://google.com/search?q=searchhere/</li>
			<li class="yes">https://google.com/search/?q=searchhere/</li>
		</ul>
		</p><p>
		Several more should be accepted with different patterns. URL must start with https:// or http://.</p>
		<ul>
			<li class="no">google.com</li>
			<li class="no">www.google.com</li>
			<li class="no">www.google</li>
			<li class="no">google</li>
			<li class="no">https:///google.com</li>
			<li class="no">https://google.com//</li>
			<li class="no">https:///google.com//</li>
		</ul>
		<p>
		</p>
		<h2>And what I do now?</h2>
		<p>
			Now as your URL has been shortened, you can directly copy it from here and then share it with your
			friends!<br><br>
			Please note that this is under development and it is possible for the short link to expire due to a bug
			or new database, so please be careful, however I will try my best to not delete any data now and make
			edits to current data on updates.
		</p>
	</section>
</main>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		{% if data is defined %}
			let data = {{ data | safe }};
		{% else %}
			let data = "";
		{% endif %}
		console.log(data);

		if (data[0] == "err") {
			document.getElementsByClassName("error")[0].style.display = "block";
			document.getElementsByClassName("done")[0].remove();
		} else if (data[0] == "exc") {
			console.log("Server-side error occured.");
			document.getElementsByClassName("error")[0].style.display = "block";
			document.getElementsByClassName("done")[0].remove();
			document.querySelector("#short.main.error ul").innerHTML = `<li class="list">A server-side error has been noticed, sorry. Please come back later!</li>`;
		} else {
			var urlInput = document.getElementById("url");

			urlInput.addEventListener("click", function () {
				this.select();
			});

			function copyLink() {
				var copyText = document.getElementById("url");
				copyText.select();
				copyText.setSelectionRange(0, 99999);

				// Try using Clipboard API
				if (navigator.clipboard && navigator.clipboard.writeText) {
					navigator.clipboard.writeText(copyText.value)
						.then(function () {
							document.querySelector("#copyBtn").value = "Copied!";
						})
						.catch(function (err) {
							console.error('Error copying text: ', err);
							// Fallback to execCommand
							document.execCommand('copy');
							document.querySelector("#copyBtn").value = "Copied!";
						});
				} else {
					// Fallback to execCommand
					document.execCommand('copy');
					document.querySelector("#copyBtn").value = "Copied!";
				}
			}


			document.getElementById("copyBtn").addEventListener("click", copyLink);
		}
	});
</script>
</body>

</html>
