<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CutYourURL.tech - Free URL Shortener Service</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<main>
	{% include 'widgets/user.html' %}

	<section id="short" class="main">
		<h1>CutYourURL.tech - Free URL Shortener Service</h1>
		{% include 'widgets/short.html' %}
		<p class="desc">CutYourURL is a free tool to generate short URLs for your links!<br>Made by ashishagarwal2023,
			open-source on GitHub.</p>
	</section>

	{% include 'widgets/recents.html' %}

	<section id="coming">
		<h2>Coming soon...</h2>
		<p class="desc">Custom short links, dashboard, API to short links, QR codes, custom-length links
			QR codes, browser extension, app integrations, advanced options and lot more planned!</p>
		<a class="comingBtn" href="https://github.com/ashishagarwal2023/CutYourURL/" target="_blank">Contribute!</a><br><br>
	</section>
	<section id="content">
		<h2>Powerful, light-weight, fast, free URL shortner</h2>
		<p>
			Built on Python, this is a simple yet powerful, light-weight, fast and free URL shortner.<br>It's currently
			under development, and is <a href="https://github.com/ashishagarwal2023/CutYourURL/" target="_blank">open-source</a>
			on GitHub. Programmed by <a href="https://github.com/ashishagarwal2023"
										target="_blank">ashishagarwal2023</a> and some other fellow <a
			href="https://github.com/ashishagarwal2023/CutYourURL/graphs/contributors" target="_blank">contributors</a>.
			<br><br>This site is hosted on PythonAnywhere and the domain CutYourURL.tech is from TechDomains through the
			Github Student Dev Pack. All URLs from <a href="https://cutyoururl.tech" target="_blank">cutyoururl.tech</a>
			are automatically redirected to here, meaning you will not have to paste the long URL thought.
		</p>
		<h2>Why and What's coming?</h2>
		<p>
			This URL shortner service is based on a free 1-year TechDomains's student plan's custom domain. Neither it
			earn any profit for me, nor I got a credit card or bank account to recieve payments to, there are literally
			no ads, no data is shared, etc. To support me, you can sponsor me on <a
			href="https://patreon.com/ashish_agarwal" target="_blank">Patreon</a>.
			<br><br>
			Please do not nuke me or my project, it is only 1-year validity domain, limited CPU and storage.
			<br><br>
			I'm actively working on this project. Currently I've added custom short links, link shortening, click
			tracking, authentication,
			recent shorts, QR code generating, reCAPTCHA and server-side logging. I'm actively spending like atleast 3
			hours daily on this
			project to continue it. I'm planning to add more features like dashboard, API to short
			links, custom-length links, browser-extension, advanced options and lot more.
		</p>
	</section>
</main>
</body>
</html>
