<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CutYourURL.tech - Free URL Shortener Service</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<main>
	<section id="short" class="main">
		<h2>CutYourURL URL Shortener</h2>
		{% include 'widgets/short.jinja' %}
		<p class="desc">Powerful free, open-source URL Shortener by <a href="https://github.com/ashishagarwal2023" target="_blank">ashishagarwal2023</a>!</p>
	</section>

	{% include 'widgets/recents.jinja' %}

	<section id="coming">
		<h2>Coming soon...</h2>
		<p class="desc">Dashboard, API, Browser Extension, Integrations, Custom QR Codes, Analytics and lot more! For you, for free. Come join and support the development of this project!</p>
		<a class="comingBtn" href="https://github.com/ashishagarwal2023/CutYourURL/" target="_blank">Join us!</a><br><br>
	</section>
	<section id="content">
		<h2>Powerful, light-weight, fast, free URL shortner</h2>
		<p>
			Light-weight, powerful URL Shortener made by <a href="https://github.com/ashishagarwal2023" target="_blank">ashishagarwal2023</a>, for free! It's open-source and you can contribute to it on GitHub!
			<br><br>
			This project aims to make a free, open-source, powerful URL shortener, which is fast, light-weight, and easy to use. You can shorten your long URLs to short URLs, and share them with your friends, family, etc. You can also customize your short links, and make them more memorable.
			<br><br>
			It's literally aiming to make a Bitly URL Shortener clone, with either same or more features. And specifically, keeping it free! You can use it for free, and you can also contribute to it on GitHub, and help in development of this project.
			<br><br>
			It's currently under development and I'm actively working to add new features to this project. You can check out the GitHub repository of this project, and contribute to it. You can also report bugs, suggest features, etc. on GitHub. And it's all, for free!
			<br><br>
			<i>Built by <a href="https://github.com/ashishagarwal2023" target="_blank">ashishagarwal</a>, open-source on <a href="https://github.com/ashishagarwal2023/cutyoururl/" target="_blank">github</a>.</i>
		</p>
		<h2>A bit more info</h2>
		<p>
			If you visit to <a href="https://cutyoururl.tech" target="_blank">cutyoururl.tech</a> you will automatically be redirected to here, and I made that because on free PythonAnywhere plan, there is no way to add custom domains, so I made a redirect to here.
			<br><br>
			This project is just one of my stack projects, and I have a lot more projects on my <a href="https://github.com/ashishagarwal2023/" target="_blank">GitHub</a> profile, you can check them out. This project is hosted for completely free and I cannot afford a bit on this, so I have to use free services. Anyways, thank you for reading it this far!
		</p>
	</section>
</main>
</body>
</html>
