<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CutYourURL.me - Free URL Shortener Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<main>
        {% if True %}
        <section id="short" class="main log">
            {% if username.strip() == '' %}
        <h2>Welcome, Guest!</h2>
        <p>You are a guest. Please log in or sign up to access free custom shorts, dashboard, QR codes and more! <a href="/login">Signup or Login here</a></p>
    {% else %}
        <h2>Welcome, {{ username }}!</h2>
        <p>You are currently logged in as {{username}}. You are given the free perks to make custom shorts, click tracking and whatever is upcoming!</p>
        <a class="logoutBtn" href="/logout">Logout?</a><br><br>
    {% endif %}
        </section>
        {% endif %}
    <section id="short" class="main">
        <h1>CutYourURL.me - Free URL Shortener Service</h1>
        <form action="{{ url_for('short') }}" method="post">
            <div id="shortForm">
                <input type="text" name="url" placeholder="Enter the link here">
                <div id="submitBtn">
                    <input type="submit" value="Cut!">
                </div>
            </div>
        </form>
        <p class="desc">CutYourURL is a free tool to generate short URLs for your links!<br>Made by ashishagarwal2023, open-source on GitHub.</p>
    </section>
    {% include 'recents.html'%}

    <section id="coming">
        <h2>Coming soon...</h2>
        <p class="desc">Custom short links, dashboard, API to short links, QR codes, custom-length links
            QR codes, browser extension, app integrations, advanced options and lot more planned!</p>
        <a class="comingBtn" href="https://github.com/ashishagarwal2023/CutYourURL/" target="_blank">Contribute!</a><br><br>
    </section>
    <section id="content">
        <h2>Powerful, light-weight, fast, free URL shortner</h2>
        <p>
            Built on Python, this is a simple yet powerful, light-weight, fast and free URL shortner.<br>It's currently under development, and is <a href="https://github.com/ashishagarwal2023/CutYourURL/" target="_blank">open-source</a> on GitHub. Programmed by <a href="https://github.com/ashishagarwal2023" target="_blank">ashishagarwal2023</a> and some other fellow <a href="https://github.com/ashishagarwal2023/CutYourURL/graphs/contributors" target="_blank">contributors</a>.
        </p>
        <h2>Why and What's coming?</h2>
        <p>
            This URL shortner service is based on a free 1-year NameCheap's student plan's custom domain. Neither it earn any profit for me, nor I got a credit card or bank account to recieve payments to, there are literally no ads, no data is shared, etc. To support me, just follow me on my <a href="https://github.com/ashishagarwal2023" target="_blank">GitHub</a>.
            <br><br>
            (The Github Student Dev Pack is currently under processing, so till it doesn't gets done, I cannot have a domain for this.)
            <br><br>
            I'm actively working on this project. Currently I've added link shortening, click tracking, authentication, recent shorts and logging. I'm actively spending like atleast 3 hours daily on this project to continue it. I'm planning to add more features like custom short links, dashboard, API to short links, QR codes, custom-length links, QR codes, browser-extension, advanced options and lot more.
        </p>
    </section>
</main>
</body>
</html>