<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CutYourURL.tech - Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
	<div class="forms-container">
		<form action="/login" method="POST" id="login-form" class="login-form">
			<h1>Login</h1>
			<p>To continue to <a href="/">CutYourURL</a></p>
			<div class="input-group">
				<label for="login-username">Username:</label>
				<input type="text" id="login-username" name="username" placeholder="Enter your username" required>
			</div>
			<div class="input-group">
				<label for="login-password">Password:</label>
				<input type="password" id="login-password" name="password" placeholder="Enter your password" required>
			</div>
			<button type="submit">Login</button>
			<p>Don't have an account? <span id="signup-link">Sign Up</span></p>
			<p class="error" id="login_invalid">Invalid username or password.</p>
		</form>
		<form action="/signup" method="POST" id="signup-form" class="signup-form">
			<h1>Sign Up</h1>
			<p>To continue to <a href="/">CutYourURL</a></p>
			<div class="input-group">
				<label for="signup-username">Username:</label>
				<input type="text" id="signup-username" name="username" placeholder="Enter your username" required>
			</div>
			<div class="input-group">
				<label for="signup-email">Email:</label>
				<input type="email" id="signup-email" name="email" placeholder="Enter your email" required>
			</div>
			<div class="input-group">
				<label for="signup-password">Password:</label>
				<input type="password" id="signup-password" name="password" placeholder="Enter your password" required>
			</div>
			<div class="input-group">
				<label for="signup-confirm-password">Confirm Password:</label>
				<input type="password" id="signup-confirm-password" name="confirmPassword"
					   placeholder="Confirm your password" required>
			</div>
			<button type="submit">Sign Up</button>
			<p>Already have an account? <span id="login-link">Login</span></p>
			<p class="error" id="signup_pass">Passwords do not match.</p>
			<p class="error" id="signup_user">Username is taken.</p>
		</form>
	</div>
</div>


<script>
	document.addEventListener('DOMContentLoaded', function () {
		const loginForm = document.getElementById('login-form');
		const signupForm = document.getElementById('signup-form');
		const loginLink = document.getElementById('login-link');
		const signupLink = document.getElementById('signup-link');
		loginForm.style.display = 'block';
		signupForm.style.display = 'none';

		loginLink.addEventListener('click', function () {
			loginForm.style.display = 'block';
			signupForm.style.display = 'none';
		});

		signupLink.addEventListener('click', function () {
			loginForm.style.display = 'none';
			signupForm.style.display = 'block';
		});
		// Error handlings
		const login_invalid = document.getElementById('login_invalid'); // Invalid credentials
		const signup_pass = document.getElementById('signup_pass'); // Passwords do not match
		const signup_user = document.getElementById('signup_user'); // Username is taken

		loginForm.style.display = 'block';
		signupForm.style.display = 'none';
		signup_pass.style.display = 'none';
		login_invalid.style.display = 'none';
		signup_user.style.display = 'none';

		let error = {{error}};
		if (error == 0) {
			loginForm.style.display = 'block';
			signupForm.style.display = 'none';
			login_invalid.style.display = 'block';
			signup_user.style.display = 'none';
			signup_pass.style.display = 'none';
		} else {
			if (error == 1 || error == 2) {
				loginForm.style.display = 'none';
				signupForm.style.display = 'block';
				if (error == 1) {
					signup_pass.style.display = 'block';
					signup_user.style.display = 'none';
					login_invalid.style.display = 'none';
				} else {
					if (error == 2) {
						signup_user.style.display = 'block';
						signup_pass.style.display = 'none';
						login_invalid.style.display = 'none';
					}
				}
			}
		}
	});

</script>
</body>
</html>
