<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CutYourURL.tech - Verify Email</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
	<div class="forms-container">
		<form id="otp-form" class="otp-form">
			<h1>Verify your email</h1>
			<p>To continue to <a href="/">CutYourURL</a></p>
			<p>Your account will be created as you verify email. <br>Please do not skip this step!</p>
			<div class="input-group">
				<label for="login-email">Email:</label>
				<input type="text" id="login-email" name="email" placeholder="Enter your email" required  value="{{ email }}" readonly>
			</div>
			<div class="input-group">
				<label for="login-otp">Enter OTP:</label>
				<input type="text" id="login-otp" name="otp" placeholder="Enter your OTP" required>
			</div>
			<button type="submit">Verify</button>
			<p>Already have an account? <a href="https://cutyoururl.pythonanywhere.com/login" target="_blank"><span id="signup-link">Sign in</span></a></p>
			<p class="error" id="otp_invalid" style="display: none;">Invalid OTP</p>
			<p class="error" id="error" style="display: none;">Unknown error occured</p>
			<p class="resend" id="resend">Resend OTP?</p>
			<p class="success" id="done" style="display:none;">Successfully verified!</p>
		</form>
	</div>
</div>
</body>
</html>
